In [ ]:
import numpy as np 
import pandas as pd 
import operator

In [ ]:
n = 200000
n1 = 4
hour_end = 8
marks = [0,1,2,3,4,5]
in_time = [0,1]
employees = [0,1,2,3,4,5,6,7,8,9,10,11,12]
hour = range(hour_end)
duration =  np.ravel(n1 * np.random.rand(n,1))
type_task = [0,1,2,3,4,5]
start_hour = np.random.choice(hour, n)
load_percent = np.ravel(np.random.rand(n,1))
marks_l = np.random.choice(marks, n)
in_time_l = np.random.choice(in_time, n)
employees_l = np.random.choice(employees, n)
type_task_l = np.random.choice(type_task, n)
metric = np.log2(marks_l + 2) * np.log2(in_time_l + 2)

In [ ]:
df = pd.DataFrame({'duration': duration,'loading_percent': load_percent, 'employees': employees_l, 'task_type': type_task_l, 'start_hour': start_hour,
                  'metric': metric})

In [ ]:
!pip install geopandas
from shapely.geometry import MultiLineString, shape, Point, Polygon
import geopandas as gpd

df['gps_date']='2021-8-28'
df['start_hour']=df['start_hour'].astype(str)+':00:00'
df['datetime'] = df['gps_date'].astype(str)+' '+df['start_hour'].astype(str)
df['datetime'] = pd.to_datetime(df['datetime'], format="%Y-%m-%d %H:%M:%S")

file = '/content/random geo msk mo.csv'

if '.json' in file:
    with open(file, 'r', encoding='cp1251', errors='ignore') as data_file:
        data_loaded = json.load(data_file)
    df_t = pd.DataFrame(data_loaded)
    output_file = file.split('/')[-1].split('.json')[0]
    
elif '.csv' in file:
    try:
        df_t = pd.read_csv(file)        
    except:
        df_t = pd.read_csv(file, sep=';', encoding='1251')
        
    output_file = file.split('/')[-1].split('.csv')[0]
    
else:
    df_t = pd.read_excel(file, )
    output_file = file.split('/')[-1].split('.xlsx')[0]

print(output_file)

lat=df_t['lat'].values
lon=df_t['lon'].values

np.random.seed(2)
df['lat']=np.random.choice(lat, size=df.shape[0])
df['lon']=np.random.choice(lon,size=df.shape[0])

geometry = [Point(xy) for xy in zip(df.lon, df.lat)]
df['geometry'] = geometry
crs = {'init' :'epsg:4326'}
df=gpd.GeoDataFrame(df, crs=crs, geometry=geometry)
print(df.head())

df.to_file('df_rosatom_syntethic_keplergl.geojson', driver='GeoJSON')

taxi_track_2021-05-17

   ride_id    gps_date  gps_time        lat        lon
0        1  2021-05-17  00:00:02  55.604162  37.533642
1        1  2021-05-17  00:00:51  55.606141  37.532950
2        1  2021-05-17  00:01:20  55.606141  37.532950
3        1  2021-05-17  00:02:06  55.605160  37.531706
4        1  2021-05-17  00:02:41  55.600262  37.528411

In [ ]:
NLP